.controlPanel {
    border: 2px solid rgb(118, 182, 255);

    .buttonSort {
        background: white;
        color: black;
        border: 2px solid rgb(191, 123, 255);     
        transition: linear 0.5s;
        
        &:hover {
            color: white;
            background: red;
        }
    }

}




// Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
@media only screen and (min-width: 480px) {
    .controlPanel {

        .buttonSort {
            margin-left: 5px;
        }
    } 
}
    
    // // Планшеты в режиме portrait.
    // @media only screen and (min-width: 768px) {
    
    
    // }
    
    // // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
    // @media only screen and (min-width: 992px) {
    
    
    // }
    
    // // Десктоп с большими разрешениями, телевизоры.
    // @media only screen and (min-width: 1382px) {
    
    
    // }