.employee {
    border: 2px solid rgb(253, 79, 79);
    transition: linear 0.3s;
    width: 100%;

    &:hover {
        background: rgb(204, 204, 248);
    }

    .div{
        text-align: center;
    }

}


// Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
@media only screen and (min-width: 480px) {
    .employee{
        min-width: 140px;
    }
}
    
    // // Планшеты в режиме portrait.
    // @media only screen and (min-width: 768px) {
    
    
    // }
    
    // // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
    // @media only screen and (min-width: 992px) {
    
    
    // }
    
    // // Десктоп с большими разрешениями, телевизоры.
    // @media only screen and (min-width: 1382px) {
    
    
    // }