body {
    padding: 0;
    margin: 0;
}

// Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
@media only screen and (min-width: 480px) {


}

// // Планшеты в режиме portrait.
// @media only screen and (min-width: 768px) {


// }

// // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
// @media only screen and (min-width: 992px) {


// }

// // Десктоп с большими разрешениями, телевизоры.
// @media only screen and (min-width: 1382px) {


// }